body {
  text-align: center;
  font-family: Helvetica;
}

.top {
  color: white;
 background-image: url(../the-flatiron-building.png);
 font-weight: bold;
 font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
